body{
  background-color: #FCF7F7;
  display:flex;
  flex-direction: column;
  font-family: 'ABC-Regular', sans-serif;
}
  
#fundo{
  width:100%;
  height:auto;
}

.container{
  order: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  
}

.container>div{
  margin-top: 60px;
}


.tutorial>p{
  margin-bottom: 40px;
  text-align: center;
  color: #2D2F44;
  font-family: 'ABC-Bold', sans-serif;
  font-size: 40px;
}

.tutorial>img{
  width:800px;
}

.buttons{
  font-family: 'ABC-Bold', sans-serif;
}

#entrar{
  border-color: #488baf;
  color: #488baf;
  background-color: #FCF7F7;
  font-size: 25px;
  border-radius: 10px;
  width: 216.87px;
  height: 61.52px;
  left: 265px;
  top: 450px;
  position: absolute;
  border-width: 3px;
}

#registar{
  border-color: #488baf;
  background-color: #488baf;
  color: #FCF7F7;
  font-size: 25px;
  border-radius: 10px;
  width: 216.87px;
  height: 61.52px;
  left: 537.13px;
  top: 450px;
  position: absolute;
}

#video{
  align-self: center;
  margin-top: 80px;
  width:800px;
}




  
 

  
  
  
  