body{
    background-color: #FCF7F7;
  }
  
  body>div{
    margin-bottom: 70px;
  }
  
  #sidebar{
    height: 100%;
    position:fixed;
    display: flex;
  }

  #logo{
      padding: 15px;
      padding-top: 20px;
      padding-bottom: 40px;
      align-items: center;
  }
  
  #home{
    background-color:#488baf;
  }
  
  ul#icons>li>a{
    color:#2D2F44;
  }
  
  ul#icons>li>a:hover{
    color: #488baf;
  }
  
  i{
    font-size: 20px;
  }
  
  
  .login img{
    width:100%;
    height:auto;
    
  }
  
  .login .buttons{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  #entrar{
    border-color: #488baf;
    color: #488baf;
    background-color: #FCF7F7;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  #registar{
    border-color: #488baf;
    background-color: #488baf;
    color: #FCF7F7;
    margin-left: 30px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #carouselExampleCaptions{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .leaderboard ul li{
    margin-left: 100px;
    background-color: #E7EDF1;
    width:350px;
    margin-right: 30px;
    margin-left: auto;
  }
  
  footer{
    background-color: #488baf;
    height: 100px;
  }
  
  #logo img{
    height: 20px; 
    
  }

  .dropup i{
    color: #2D2F44;
  }

  .carousel {
    margin-bottom: 4rem;
    width:1000px;
    margin-left: auto;
    margin-right: auto;

  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }

  .carousel-control-prev>span{
      background-color: #2D2F44;
  }
  
  
  
  