body{
    background-color: #FFF8F8;
    display:flex;
    flex-direction: column;
    font-family: 'ABC-Regular', sans-serif;
  }

.container{
  order: 1;
  margin-left:100px;
  margin-right:100px;
  
}
h3{
  margin-left:30px;
}

.nav-icon1, .nav-icon2, .nav-icon3, .nav-icon4, .nav-icon5{
  width: 16px;
  height: 16px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  margin-left:100px;
}

.nav-icon1, .nav-icon5{
  stroke: #DD5E5C;
  fill: #DD5E5C;
}

.nav-icon2{
  stroke: #56C4C0;
  fill: #56C4C0;
}

.nav-icon3{
  stroke: #FAF5AC;
  fill: #FAF5AC;
}

.nav-icon4{
  stroke: #4B94BC;
  fill: #4B94BC;
}

.container>img{
  margin-top: 60px;
  margin-left:100px;
}


.container>div{
  margin-top: 60px;
}

.accordion{
  margin-left:5%;
  margin-right:5%;
}

.title1, .title2, .title3, .title4, .title5{
  display:flex;
  align-items: center;
}

.accordion-button.collapsed {
  background-color: #ECF1F1;
}

fieldset{
  color:#252131;
  border-radius: 10px;
}

.red{
  background-color: #F7BAB9;
}

.green{
  background-color: #b5eae8;
}

.yellow{
  background-color: #ffffd0;
}

.blue{
  background-color: #9EC2D5;
}
.nav-icon {
  display: flex;
  justify-content: center;
  height: 600px;
  margin-left: 20px;
}
.sizeUp{
  padding: 30px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.goBtn{
  display: flex;
  flex:wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.toPad{
  padding: 20px;
  font-size: 20px;
}
.goIcon{
  width: 50px;
  height: 50px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.goIcon:hover{
  stroke: #FFF8F8;
}

.lvlTitle{
  margin-top: 40px;
}
.check{
  fill: #FFF8F8;
  stroke: #56C4C0;
}