body{
    background-color: #A8DDDB;
    display:flex;
    flex-direction: column;
    font-family: 'ABC-Regular', sans-serif;
    background-image: url("../media/images/placeholder.svg");
    background-repeat: no-repeat, repeat;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
fieldset{
    background-color: #FFF8F8;
    width:50%;
    border-radius: 10px;
    padding:50px;
}
.button{
    background-color: #4B94BC;
    color: #FFF8F8;
}