body{
    background-color: #A8DDDB;
    display:flex;
    flex-direction: column;
    font-family: 'ABC-Regular', sans-serif !important;
    background-image: url("../media/images/placeholder.svg");
    background-repeat: no-repeat, repeat;
    background-size:50%;
    background-position: top 90px left 20px;

}
.container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
fieldset{
    background-color: #E7EDF1;
    width:40%;
    border-radius: 10px;
    padding:40px;
    height:70%;
    margin-right: 50px;
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
}
.buttons{
    font-family: 'ABC-Bold', sans-serif;
  }
  
#loginBtn, #signUpBtn{
    border-color: #4B94BC;
    color: #ffffff;
    background-color: #4B94BC;
    font-size: 20px;
    border-radius: 10px;
    width: 110px;
    height: 45px;
    display: block;
    margin: 1.0em auto;
    text-align: center;
}    

form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    
}

#pageLink{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

#entrar{
    margin-left:63%;
}

#registar{
    margin-left:63%;
}

@media screen and (max-width: 1130px) {
    body{
        background-image: none;
    }
    fieldset{
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    #registar{
        margin-left: 30%;
    }
    #entrar{
        margin-left: 30%;
    }
}

@media screen and (max-width: 575px) {
    #registar{
        margin-left: 8%;
    }
    #entrar{
        margin-left: 9%;
    }
}
