body{
    background-color: #FEFCFC;
    display:flex;
    flex-direction: column;
    font-family: 'ABC-Regular', sans-serif;
}

.container{
    order: 1;

}

.container>div{
    margin-top: 60px;
}

.container>img{
    margin-top: 60px;
    margin-left:80px;
}


.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 20%;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    padding-top: 40px;

    border-radius: 20px;
}


.middle{
    margin-left: 10px;
    margin-right: 10px;
}

.buttons{
    font-family: 'ABC-Bold', sans-serif;
  }
  
  #comprar{
    border-color: #56C4C0;
    color: #ffffff;
    background-color: #56C4C0;
    font-size: 20px;
    border-radius: 10px;
    width: 110px;
    height: 45px;
    
  }

  #fieldset{
    background-color: #E7EDF1;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 45px;
    margin-bottom: 20px;
    width: 1150px;
    align-items:center;
    justify-content: center;
    padding: 40px;
}

#fieldset>h1 {
    margin-left: 30px;
    margin-bottom: 20px;
}