body{
    background-color: #FEFCFC;
    display:flex;
    font-family: 'ABC-Regular', sans-serif;
    color: #2D2F44;
    padding: 50px;
  }
  
  .grid-container {
    display: grid;
    flex-direction: row;
    margin-left: 60px;
  }



#divVideo{
    height: 50%;
}

#video{
    width:50px;
}

.list-group{
    width: 360px;
    
    
}
