body{
  background-color: #FFF8F8;
}
.theActualBody{
    background-color: #FEFCFC;
    display:flex;
    font-family: 'ABC-Regular', sans-serif;
    color: #2D2F44;
    justify-content: center;
  }
  
.container {
  align-items: center;
  width: 100%;
}
.col{
  width: 50%;
  padding: 30px;
}

video {
  size: 100%;
}

.list-group{
    width: 360px;
}
.rewardContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

fieldset{
  background-color: #E7EDF1;
  border-radius: 10px;
}

div>.tag{
  background-color: #A8DDDB;
  border-color: #137874;
  color: #137874;
}
div>.tag:hover{
  background-color: #56C4C0;
  border-color: #137874;
  color: #A8DDDB;
}

.heartIcon{
  stroke: #DD5E5C;
}

.heartIcon:hover{
  stroke: #DD5E5C;
  fill: #DD5E5C;
}

video::-webkit-media-controls-fullscreen-button
{
        display: none !important;
}