body{
    background-color: #FEFCFC;
    display:flex;
    flex-wrap: wrap 2;
    font-family: 'ABC-Regular', sans-serif;
    color: #2D2F44;
  }
  
  .grid-container {
    display: grid;
    flex-direction: row;
  }

#divVideo{
    height: 50%;
    padding-left: 200px;
}

#video{
    width:50px;
}

.list-group{
    width: 360px;
    
    
}
.rewardContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

fieldset{
  background-color: #E7EDF1;
  border-radius: 10px;
}
